*~
tags
doc/html
doc/messages
doc/*.log
.DS_Store
build*
.nfs*
share/
__pycache__
pymavlink/generator/C/
pymavlink/generator/C/
pymavlink/generator/python/
pymavlink/generator/python/
apidocs/
pymavlink/generator/message_definitions
*.swp
pymavlink/dialects/
pymavlink/MANIFEST
pymavlink/dist
pymavlink.egg-info/
.pydevproject
.project
.ropeproject
*.cproject
include/
.tags*
*.pyc
include/mavlink/v1.0
.idea
**/.mypy_cache
*.tar
*.tlog
*.tlog.raw
*.pcd
*~
**/.idea/
cmake-build-*/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Colcon build folders
install/
build/
log/
